# 二进制/提取文件
extracted/
pyi/
innoextract_dir/
innoextract.zip
inno_list.txt
src/

# 原始安装包
*.exe

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
